
<form action='<%= @brewery.nil? ? "/breweries" : "/breweries" %>' method='post'>
  <div>
    <label>Name:</label>
    <input value='<%= @brewery['brewery_name'] if @brewery %>' type='text' name='brewery[brewery_name]' autofocus/>
  </div>
  <div>
    <label>Photo URL:</label>
    <input value='<%= @brewery['city'] if @brewery %>' type='text' name='brewery[city]'/>
  </div>
  <div>
    <label>Breed:</label>
    <input value='<%= @brewery['state'] if @brewery %>' type='text' name='brewery[state]'/>
  </div>
  <button><%= @brewery.nil? ? "New Brewery" : "Edit Brewery" %></button>
</form>